# Исключение виртуальных окружений
env/
venv/

# Файлы конфигураций IDE
.idea/
.vscode/

# Файлы логов
*.log

# Базы данных SQLite
*.sqlite3

# Файлы среды
*.env

# Файлы кэша Python
__pycache__/
*.py[cod]
